body{
    font-family: sans-serif;
    max-width: 600px;
    margin: auto;
    padding: 20px;
}
form input, form select, form button{
    margin: 5px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    
}

ul{
    list-style: none;
    padding: 0;

}